# ===========================
# FRONTEND (Next.js / Node)
# ===========================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# Next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files (veilig!)
.env
.env.*
.vercel
*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# ===========================
# BACKEND (Python / FastAPI)
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.sqlite3
*.db
*.db-journal
*.log
*.tmp
*.bak

# virtual environments
venv/
env/
.venv/

# build artifacts
dist/
build/
*.egg-info/
*.spec

# testing / cache
.pytest_cache/
.tox/
.nox/
coverage/
htmlcov/
.cache/

# IDEs / Editors
.vscode/
.idea/
*.swp

# environment files
/backend/.env
/backend/.env.*
